<html>
    <head>
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/indexpage.css">
        <link rel="icon" href="/imgs/icon_img2.png">
        <meta name="google-site-verification" content="BvM4hqk05AeE1fjIF8KXekLx_nWHII8cXd_oYn02o1I" />
        <title>{{heading}}</title>
    </head>
    <body>
        
        {{>login_module}}
        
        
        {{>footer}}
    </body>
</html>